%h2 WTF?

%p
  Use Sherry to easily share links between devices. Bookmark a link on one device, load that link on the other with one click.

%h2 Log in or create your account

%form{:action => '/users', :method => 'post'}
  %input{:name => 'name'}
  %input{:type => 'submit', :value => 'Create a New User'}

